@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700|Fjalla+One);

*{ margin:0; padding:0;}
a{ text-decoration:none;}
img{ border:none;}
ul,ol{ list-style:none;}
body{font-size: 14px;  font-family: "Open Sans", sans-serif;  background: url('../images/sunsetonvancouver.jpg') no-repeat fixed center top; background-size: cover }

/* header section*/
.header{ width:100%;  height:150px; position: fixed;  top:0px;  z-index: 999; background-color:#00a2e8;  box-shadow: 3px 3px 3px #888888;  }
.hd_logo {display:block; position:absolute; top:0px; left:10%}
.hd_top_strip{position: absolute; top:0px; height:30px; width:100%; background-color:#ff7f27; z-index: -1}
.hd_nav{position: absolute; right:100px; bottom:0; height: 120px; width: 50%; overflow: hidden; z-index: -1;}
.hd_nav li{float:left;position: relative;}
.hd_nav li a{padding:0 20px; display:block; line-height: 120px; font-size: 20px; color:#fff;}
.hd_nav li i{ display:block; width:0%; height:3px; background-color:#ff7f27; position:absolute; bottom:0; left:50%; transition:0.3s;}
.hd_nav li.on a,.hd_nav li:hover a{font-weight: 900; color: #ff7f27; text-shadow: 1px 1px 2px rgba(0,0,0,.35); font-size:23px; text-transform: uppercase;}
.hd_nav li.on i,.hd_nav li:hover i{ left:0; width:100%;}

/* banner/slider section*/
.slider{ height:650px; width:1075px;  margin: 180px auto 0px auto; border:1px solid #f3eadf;box-shadow: 2px 2px 5px rgba(0,0,0,.40); position: relative;}
.slider:hover{box-shadow: 2px 2px 15px rgba(0,0,0,.40);}
.sl_img{display: block;}
.sl_img li{ position: absolute;top:0px;left:0px;}
.sl_num{position: absolute; width:100%;bottom: 20px;text-align: center;font-size: 0;}
.sl_num li{width:30px;height:30px;background-color: #9e9fa3;color:#fff;font-size:26px;border-radius:50%;display: inline-block;text-align: center;line-height: 30px;margin:0 3px;}
.sl_num li.active{background-color: #ff7f27;cursor: pointer}
.slider .btn{display:none;width:50px;height:100px; position:absolute;top:50%;margin-top:-50px;text-align: center;line-height: 100px;color:#fff;background-color: rgba(0,0,0,0.5);font-size:70px;cursor: pointer}
.slider:hover .btn{display: block}
.slider .left{left:0;}
.slider .right{right:0;}
/* gallery section*/
.gallery{ width:1075px; height:260px; background:#fff; margin: 30px auto;  box-shadow: -2px -2px 5px rgba(0,0,0,.77);  box-shadow: 2px 2px 5px rgba(0,0,0,.77); }
.gallery img{ height:250px; width:250px; overflow:hidden; float:left; margin:5px 9px; }

/* news and pamphlets common style*/
.news, .pamphlets{  background:#f3eadf; position: relative; width:1075px;  height:1000px;  margin: 30px auto;  box-shadow: -2px -2px 5px rgba(0,0,0,.40);  box-shadow: 2px 2px 5px rgba(0,0,0,.40); }

/*new section*/
.news_left {	width: 510px;	position: absolute; top:3px; left:3px;}
#summer{  height:100px; width:100%; margin: 6px 6px; background:#ff7f27;}
#summer a{ display: block;	padding: 40px 80px;	color: #f3eadf;	font-family: "Fjalla One";	text-transform: uppercase;	font-size: 23px;font-weight: 400;  }
.news_right {	width: 510px;	height:994px;	position:absolute; top:9px; right:18px;}
.news_block { 	min-height: 322px;	margin-left:6px;}
.news_block .left{  min-height:874px; }
.news_block .title{position: relative;}
.news_block .title h1  { background: #3f48cc;	 padding: 8px 12px; color: #f3eadf;	font-family: "Fjalla One";	text-transform: uppercase;	font-size: 23px;font-weight: 400;  }
.news_block .title .read_more {	position: absolute;	top: 0px;	right: 0px;	padding: 11px 6px;	background: #00a2e8; 	font-size: 18px;color: #e9e7e1;}
.news_block .title .read_more:hover {  color:#ff7f27;  }
.news_block li a {	display: block;	padding:17px; color:#000;	font-family: "Fjalla One";	text-transform: uppercase;	font-size: 23px;	font-weight: 400;}
.news_block li p {	line-height: 26px;	padding: 0 17px;}

/*footer section*/
.footer{   background:#f3eadf;	maring-top:30px;	height:110px;	padding-top:30px; width:100%;	box-shadow: 0px -2px 5px rgba(0,0,0,.40);}
.footer li{float:left; padding:5px 23px;}
.footer li a{  font-weight:bold;color:#777; font-size: 18px}
.footer li a:hover{ color:#03a8b1;	}
#first{margin-left: 400px}
.copyright{	clear:both;	color:#999;	margin:0 auto;text-align: center}

